run = "python3 -m uvicorn main:app --host 0.0.0.0 --port $PORT"

[deployment]
run = ["sh", "-c", "python3 -m uvicorn main:app --host 0.0.0.0 --port $PORT"]

[nix]
channel = "stable-24_05"

[languages.python]
pattern = "**/*.py"

[languages.python.languageServer]
start = "pyright-langserver --stdio"
