run = "python main.py"

[deployment]
run = ["sh", "-c", "python main.py"]

[nix]
channel = "stable-24_05"

[languages.python]
pattern = "**/*.py"

[languages.python.languageServer]
start = "pyright-langserver --stdio"
